/* colores */
$primary: #16457b;
$secundary: #ffc107;
$text-color: #16457b;

/* espaciados */
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/* fuentes */
$font-principal: "BebasNeue-Regular.ttf"; 